* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    font-size: 30px;
    font-family: Mongolian;
    color: white;
}

header h1 span {
    color: #FFAF3C;
}

header {
    z-index: 1;
    position: relative;
    text-align: center;
}

header .logo h1 {
    font-size: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .nav .parts {
    display: flex;
    list-style: none;
}

header .nav ul li {
    margin-left: 30px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

header .nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .nav li:hover {
    background-color: rgba(0, 0, 0, 0.414);
}


header .nav i {
    position: absolute;
    height: 15px;
    width: 15px;
    color: #eb8f0e;
}

header .nav .search {
    top: 45px;
    position: absolute;
    padding-left: 20px;
    border: none;
    width: 100px;
    height: 16px;
    border-radius: 50px;
    font-size: 12px;
    right: 20px;
}



section .home {
    height: 600px;
}

.home-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.home-bg .image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-bg .dis {
    width: 35%;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 30px;
    background-color: #eb8f0e7f;
    top: 300px;
    left: 10%;
    animation: come 2s;
}

@keyframes come {
    from {
        left: 0;
    }

    to {
        left: 10%;
    }
}

.home-bg .dis p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.home-bg .dis h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.home-bg .dis h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgba(0, 0, 0, 0.525);
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    transform: scale(1.4);
}



.home .home-dis {
    position: absolute;
    width: 50%;
    left: 45%;
}

.home .home-dis .dis {
    position: relative;
    text-align: center;
    justify-content: center;
    top: 30px;
}

.home .home-dis .dis img {
    width: 40%;
    height: 140px;
    opacity: 100%;
}

.home .home-dis .dis h1 {
    color: rgb(255, 255, 255);
    font-family: Mongolian;
    font-size: 70px;
    font-weight: lighter;
    padding: 0;
}

.home .home-dis .dis h5 {
    color: rgb(255, 255, 255);
    font-family: Scarlett Busiat_Demo;
    font-size: 70px;
    font-weight: lighter;
    padding: 0;
}

.home .home-dis .dis p {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

.home .home-dis .dis button {
    padding: 5px 10%;
    font-weight: 500;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    border: 3px solid white;
    margin-top: 25px;
}

.home .home-dis .dis button:hover {
    background: rgba(0, 0, 0, 0.499);
    transition: background .2s linear;
}


.dot-container {
    position: absolute;
    z-index: 1;
    bottom: 40px;
}

.dot-container .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #000000bc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #ffffff90;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* box*/
.block {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin: -40px 0;
    z-index: 1;
}

.block img {
    position: absolute;
    left: -60%;
}

/* about*/
#about .box {
    background-color: #eb8f0e;
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 80px 20px;
}

#about section .box .discription {
    position: relative;
    text-align: center;
    justify-content: center;
    width: 50%;
}

.discription h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 450;
}

.discription p {
    align-items: center;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 350;
    color: white;
    margin-top: 30px;
}

.discription img {
    margin-top: -130px;
    width: 60%;
    height: 200px;
    left: 50%;
    z-index: 0;
}


/* package*/
.package {
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 30px 0px;
    overflow: hidden;
    height: 600px;
}

.package h1 {
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;

}

.package .ceta {
    display: flex;
    gap: 10%;
    position: relative;
    text-align: center;
    justify-content: center;
}

.package .ceta .info {
    padding: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    width: 300px;
}

.package .ceta .info h4 {
    font-size: 30px;
    font-weight: 200;
}

.package .ceta .info p {
    text-align: left;
    font-size: 12px;

}

hr {
    background-color: black;
}

.package .ceta .info button {
    padding: 5px 10%;
    font-weight: 500;
    background-color: transparent;
    border-radius: 20px;
}

.package img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 900px;
    z-index: -1;
}

.package .ceta .info button:hover {
    background: rgba(45, 101, 230, 0.499);
    transition: background .3s linear;
}


/*gallery*/


#gallery_tr {
    margin-top: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    
}

#gallery_tr span {
    color: #000000;
    font-weight: bold;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#img_tr {
    padding: 0 10px;
    top: 118px;
    width: 100%;
    height: 320px;
    gap: 1%;
    display: flex;
    right: 0px;
    margin-top: 20px;
}

#img_tr div {
    position: static;
}

#img_tr>div {
    flex: 1;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

#img_tr>div:hover {
    flex: 3;
}







/*contacts*/




























@media only screen and (max-width:650px) {
    section .home {
        height: 300px;
    }

    .home-bg {
        width: 100%;
        height: 300px;
        overflow: hidden;
    }

    .home-bg .image {
        width: 100%;
        height: 300px;
    }


    header .nav ul li {
        margin-left: 10px;
        left: 0px;
        padding: 0px 5px;
        border-radius: 5px;
    }

    header .nav ul li a {

        font-size: 10px;

    }

    header .logo h1 {
        font-size: 15px;
    }

    .prev {
        transform: scale(0);
    }

    .next {
        transform: scale(0);
    }

    .home-bg .dis {
        width: 100px;
        padding: 9px;
        top: 70px;
        left: 0px;
    }

    .home-bg .dis p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 5px;
    }

    .home-bg .dis h6 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
    }

    .home-bg .dis h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
    }

    .block {
        width: 100%;
        height: 100px;
        margin-top: -80px;
        z-index: 1;
    }

    .block img {
        position: absolute;
        left: -60%;
    }

    .discription h1 {
        font-size: 25px;
    }

    #about .box {

        padding: 40px 10px;
    }

    .discription img {
        width: 100%;
        height: 180px;
    }

    .package {
        padding: 30px 0px;

    }

    .package h1 {
        font-size: 30px;

    }

    .package .ceta {
        gap: 5%;
    }

    .package .ceta .info {
        padding: 2%;
    }

    .package .ceta .info h4 {
        font-size: 20px;
        font-weight: 100;
    }

    .package .ceta .info p {
        font-size: 9px;

    }

    .package .ceta .info button {
        padding: 5px 10%;
        font-weight: 500;
        font-size: 9px;
        border-radius: 20px;
    }


    .home .home-dis {
        width: 50%;
        left: 45%;
    }

    .home .home-dis .dis {
        position: relative;
        text-align: center;
        justify-content: center;
        top: 30px;
    }

    .home .home-dis .dis img {
        width: 50%;
        height: 50px;
    }

    .home .home-dis .dis h1 {
        font-size: 25px;
    }

    .home .home-dis .dis h5 {

        font-size: 25px;

    }

    .home .home-dis .dis p {
        font-size: 7px;
    }

    .home .home-dis .dis button {
        margin-top: 10px;
        padding: 5px 10%;
        font-weight: 500;
        font-size: 9px;
        border-radius: 20px;
    }

    header .nav .search {
        top: 38px;
        right: 10px;
    }

    #gallery_tr {
        width: 100%;
    }
    
    #gallery_tr span {
        font-size: 25px;
        
    }
    
    #img_tr {
       
        height: 180px;
        
    }
  
    
    #img_tr>div {
        flex: 1;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
    }
    
    #img_tr>div:hover {
        flex: 5;
    }
}